internal/
venv/
entrymaven.egg-info/
database/
dist/
LCLM/
LCLC/
backups/
batch_scripts/
downloads/
docs/
.Python
.ipynb_checkpoints/
.vscode/
*.code-workspace
*.log
*.bat
.mypy_cache/
.cache
requirements_backup.txt
*.py[cod]
__pycache__/